
<h2> Clips </h2>
{% for clip in include.clips %}
{% assign clip_infos = site.clips | where: 'clip_id', clip %}
{% for ci in clip_infos %}
<h3> {{ ci.title }} </h3>

{% if ci.youtube_id %}
{% assign suffix = '' %}
{% if ci.start_time %}
<p> starting at time {{ci.start_time}}</p>
{% capture suffix%}?start={{ci.start_time}}{% endcapture %}
{% endif %}
{% include youtube_player.html id=ci.youtube_id suffix=suffix %}
{% else %}
<p>No Youtube ID </p>
{% endif %}

<div>
{{ci.content}}
</div>

{% endfor %}

{% endfor %}
