
<h2> Clips </h2>
{% for clip in include.clips %}
{% assign clip_infos = site.clips | where: 'clip_id', clip %}
{% for ci in clip_infos %}
<h3> {{ ci.title }} </h3>

{% if ci.youtube_id %}
{% assign suffix = '' %}
{% if ci.start_time %}
<p> starting at time {{ci.start_time}}</p>
  {% if ci.end_time %}
  {% capture suffix%}start={{ci.start_time}}&end={{ci.end_time}}&rel=0{% endcapture %}
  {% else %}
  {% capture suffix%}start={{ci.start_time}}&rel=0{% endcapture %}
  {% endif %}
{% else %}
  {% capture suffix%}?rel=0{% endcapture %}
{% endif %}
{% include youtube_player.html id=ci.youtube_id suffix=suffix %}
{% elsif ci.youtube_playlist %}
 {% capture yt_argument%}videoseries?list={{ci.youtube_playlist}}{% endcapture %}
 {% include youtube_player.html id=yt_argument %}
{% else %}
<p>No Youtube ID or Playlist</p>
{% endif %}

<div>
{{ci.content}}
</div>

{% endfor %}

{% endfor %}
