<form id="contactForm" action="https://formspree.io/{{site.email}}" method="post" novalidate>
  <div class="form__input half">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" autocomplete="name" required>
  </div>

  <div class="form__input input half">
    <label for="email">Email</label>
    <input type="email" name="_replyto" id="email" autocomplete="email" required>
  </div>

  <div class="form__input">
    <label for="message">Message</label>
    <textarea type="text" name="message" id="message" rows="7" autocomplete="message" required></textarea>
  </div>

  <input type="hidden" name="_subject" value="Website Form submission">
  <input type="hidden" name="_format" value="plain" />
  <input class="hidden" type="text" name="_gotcha">
  <button class="btn js-submit" type="submit" value="Send">Send</button>
</form>


<div>  
Or fill in a submission here:
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScHPhi4l9xNBDRxfC83Gg7NU9mSL9DiWSb01x_Y4UoFmMpAyQ/viewform?embedded=true" width="640" height="1864" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>
