
<div class="video-container">
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
        <div id="videoid_{{include.id}}"></div>

        <script>
          /* 3. This function creates an <iframe> (and YouTube player)
          /    after the API code downloads. */


    
          /* 4. The API will call this function when the video player is ready.*/
          function onPlayerReady{{include.id}}(event) {
            event.target.seekTo({{include.clip_info.start_time}});
          }
    
          /* 5. The API calls this function when the player's state changes.
          //    The function indicates that when playing a video (state=1),
          //    the player should play for six seconds and then stop. */
          var done{{include.id}} = false;
          function onPlayerStateChange{{include.id}}(event) {
            if (event.data == YT.PlayerState.PLAYING && !done{{include.id}}) {
                {% if include.clip_info.end_time %}
                setTimeout(stopVideo{{include.id}}, ({{include.clip_info.end_time}} - {{include.clip_info.start_time}}) * 1000);
                {% endif %}
              done{{include.id}} = true;
            }
          }
          function stopVideo{{include.id}}() {
            ytplayers["videoid_{{include.id}}"].stopVideo();
          }

          players["videoid_{{include.id}}"] = {video_id: "{{include.clip_info.youtube_id}}",
           onReady: onPlayerReady{{include.id}},
           onStateChange: onPlayerStateChange{{include.id}}
        };

    </script>
</div>